/* Cube.module.css */

.scene {
  width: 70vh;
  height: 70vh;
  perspective: 1000000px;
  transform-style: preserve-3d;
  /* display: flex –– handled by mobileVersion condition on the element */
  justify-content: center;
  align-items: center;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transform: rotateX(-50deg) rotateY(0deg) rotateZ(-45deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.cubeFace {
  width: 18vw;
  height: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.cubeFaceFront {
  transform: rotateY(0deg) translateZ(9vw);
}

.cubeFaceRight {
  transform: rotateY(90deg) translateZ(9vw);
}

.cubeFaceBack {
  transform: rotateY(180deg) translateZ(9vw);
}

.cubeFaceLeft {
  transform: rotateY(-90deg) translateZ(9vw);
}

.cubeFaceTop {
  transform: rotateX(90deg) translateZ(9vw);
}

.cubeFaceBottom {
  transform: rotateX(-90deg) translateZ(9vw);
}

@media (max-width: 767px) {
  .scene {
    height: 35vh;
  }

  .cubeFace {
    width: 40vw;
    height: 40vw;
  }

  .cubeFaceFront {
    transform: rotateY(0deg) translateZ(20vw);
  }

  .cubeFaceRight {
    transform: rotateY(90deg) translateZ(20vw);
  }

  .cubeFaceBack {
    transform: rotateY(180deg) translateZ(20vw);
  }

  .cubeFaceLeft {
    transform: rotateY(-90deg) translateZ(20vw);
  }

  .cubeFaceTop {
    transform: rotateX(90deg) translateZ(20vw);
  }

  .cubeFaceBottom {
    transform: rotateX(-90deg) translateZ(20vw);
  }
}
